DROP DATABASE IF EXISTS  hotel_management;
CREATE DATABASE hotel_management;

USE hotel_management;


CREATE TABLE User (
                      user_id INT AUTO_INCREMENT PRIMARY KEY,
                      username VARCHAR(100) NOT NULL,
                      password VARCHAR(100) NOT NULL,
                      email VARCHAR(100) NOT NULL,
                      job_role ENUM('Admin','Manager','Receptionist') NOT NULL,
                      status ENUM('Active','Inactive') DEFAULT 'Inactive');

INSERT INTO User (username,password, email, job_role, status)
VALUES ('Imakshi','2002','sithuthathsara@gmail.com','Admin','Active'),('Admin','1234','admin@gmail.com','Receptionist','Inactive');

-- employee table

CREATE TABLE Employee (
                          employee_id VARCHAR(5) PRIMARY KEY,
                          name VARCHAR(100) NOT NULL,
                          email VARCHAR(100) UNIQUE NOT NULL,
                          contact VARCHAR(20)UNIQUE NOT NULL,
                          address TEXT NOT NULL,
                          join_date DATE DEFAULT (CURRENT_DATE),
                          job_role ENUM('Admin','Manager','Receptionist','Room Attendant','Kitchen Staff') NOT NULL
);



-- customer table

CREATE TABLE Customer (
                          customer_id VARCHAR(5) PRIMARY KEY,
                          name VARCHAR(100) NOT NULL,
                          contact CHAR(12) UNIQUE NOT NULL,
                          email VARCHAR(100)UNIQUE NOT NULL,
                          nic_passport VARCHAR(30)UNIQUE NOT NULL,
                          address  VARCHAR(200) NOT NULL
);


-- room details

CREATE TABLE Room_Details(
                             room_id  VARCHAR(4) PRIMARY KEY,
                             room_type ENUM('Single_room','Double_room','Family_room'),
                             price_per_room DECIMAL(10, 2) NOT NULL,
                             status ENUM ('Available','Booked') DEFAULT 'Available'
);

-- booking
CREATE TABLE Booking (
                         booking_id VARCHAR(5) PRIMARY KEY,
                         customer_id VARCHAR(5) NOT NULL,
                         checkin_date DATE NOT NULL,
                         checkout_date DATE,
                         special_note TEXT,
                         status ENUM('Pending','Confirmed','Cancelled') DEFAULT 'Pending',
                         created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
                         FOREIGN KEY (customer_id) REFERENCES Customer(customer_id) ON DELETE RESTRICT
);


CREATE TABLE Booking_Details (
                                 booking_id VARCHAR(5),
                                 room_id VARCHAR(4),
                                 check_in_date DATE NOT NULL,
                                 check_out_date DATE,
                                 PRIMARY KEY (booking_id, room_id),
                                 FOREIGN KEY (booking_id) REFERENCES Booking(booking_id),
                                 FOREIGN KEY (room_id) REFERENCES Room_Details(room_id)
);


-- payment
CREATE TABLE payment (
                         payment_id VARCHAR(5) PRIMARY KEY,
                         payment_date DATETIME DEFAULT CURRENT_TIMESTAMP,
                         amount DECIMAL(10,2) NOT NULL,
                         payment_method ENUM('Cash','Card') NOT NULL,
                         payment_status ENUM('Success','Pending','Fail')
);

CREATE TABLE payment_booking (
                                 payment_id VARCHAR(5),
                                 booking_id VARCHAR(5),
                                 paid_amount DECIMAL(10,2) NOT NULL,
                                 PRIMARY KEY (payment_id, booking_id),
                                 FOREIGN KEY (payment_id) REFERENCES payment(payment_id) ON DELETE CASCADE,
                                 FOREIGN KEY (booking_id) REFERENCES Booking(booking_id) ON DELETE CASCADE
);

SHOW TABLES;

INSERT INTO Employee (employee_id, name, email, contact, address, job_role) VALUES
                                                                                ('E001', 'Saman Perera', 'saman@gmail.com', '0771234567', 'Galle', 'Manager'),
                                                                                ('E002', 'Nimali Silva', 'nimali@gmail.com', '0719876543', 'Matara', 'Receptionist'),
                                                                                ('E003', 'Kamal Fernando', 'kamal@gmail.com', '0755554444', 'Hikkaduwa', 'Room Attendant');

INSERT INTO Customer (customer_id, name, contact, email, nic_passport, address) VALUES
                                                                                    ('C001', 'Nuwan Jayasinghe', '0712345678', 'nuwan@gmail.com', '991234567V', 'Colombo'),
                                                                                    ('C002', 'Sarah Brown', '0723456789', 'sarah@gmail.com', 'N1234567', 'UK'),
                                                                                    ('C003', 'Kasun Silva', '0779876543', 'kasun@gmail.com', '200012345678', 'Galle');




